/* :root {
  font-size: 12px;
}

body {
  padding: 8px;
}

input.form-control {
  width: 220px !important;
} */

:root {
  font-size: 12px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 1.25rem;
}
